@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  padding: 1rem;
}

input,
textarea {
  padding: 1rem;
  border: 1px solid #eaecee;
  outline: none;
  width: 100%;
  max-height: 220px;
  min-height: 65px;
  font-size: 1rem;
}

input:hover,
textarea:hover {
  border: 1px solid #b2bac4;
}

input:focus,
textarea:focus {
  border: 1px solid #535961;
}

textarea {
  resize: vertical;
  line-height: 150%;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font-size: 1.2rem;
  font-weight: 500;
}

label > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

li {
  list-style: none;
}

.section {
  display: grid;
  gap: 0.5rem;
}

.section > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section span {
  font-size: 1.2rem;
  font-weight: 500;
}

.section ul {
  border-top: 2px solid black;
  padding-top: 1rem;
  margin-top: 0.5rem;
}

.hello {
  color: blue;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-me {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "position position"
    "phoneNumber email"
    "coverLetter coverLetter";
}

.careers {
  display: grid;
  gap: 1rem;
}

.title-label {
  grid-area: title;
}

.position-label {
  grid-area: position;
}

.phoneNumber-label {
  grid-area: phoneNumber;
}

.email-label {
  grid-area: email;
}

.coverLetter-label {
  grid-area: coverLetter;
}
